<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlphaGC Chat Bot</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg dark">
            <a class="navbar-brand" href="#">
                <img src="./images/logo.png" alt="" class='logo'>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
            <span id="windowControls">
                <div class="controls" id="minBox">
                    <p id="min">&#128469;</p>
                </div>
                <div class="controls" id="maxBox">
                    <p id="max">&#x1f5d6;</p>
                </div>
                <div class="controls" id="closeBox">
                    <p id="close">&times;</p>
                </div>

            </span>
        </nav>

        <div class="row dark-light wrapper">
            <div class="col-sm-3 dark box-shadow">
                <div class="heading">
                    Commands and Timers
                </div>
                <button id="add">Add</button>
                <div id="box"></div>

            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-4 dark box-shadow">
                <iframe frameborder="0" scrolling="yes" id="chat_embed" height="93%" width="95%" class="box-shadow">
                </iframe>
            </div>

        </div>

    </div>




    <script src="../main.js"></script>
</body>

</html>