<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AlphaGCBot</title>

    <link rel="stylesheet" href="./css/login.css">
</head>

<body>

    <button class="" id="twitchConnect">Connect To Twitch</button>

    <input type="text" placeholder="Enter Your Channel Name..." id="channelInput">
    <button type="submit" id="channelButton">Submit</button>


    <script src="../getToken.js"></script>
</body>

</html>