
body{
    background-color: #171B1B;
}

.navbar-brand{
    position: relative;
    top: -3px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    overflow: hidden;
}

.dark{
    background-color: #171B1B;
    padding: 0px;
}
 
.box-shadow{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.dark-light{
    background-color: #202623;
}

.table-dark{
    color: #fff;
    background-color: #171B1B;
    width: 100%;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #32383e;
    padding: 15px;
}

.wrapper{
    height: 100%;
    border-top: 5px solid #2B83C5;
}

.navbar{
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
}

#chat_embed{
    margin: 10px;
    
}

#windowControls{
    color: #ffffff;
    margin-left: 10px;
    width: 150px;
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: -16px;
}

#min{
    position: relative;
    top: -5px;
}

#minBox:hover{background-color: #373737}
#maxBox:hover{background-color: #373737}
#closeBox:hover{background-color: #842A2A}

.controls{
    float: left;
    position: relative;
    font-size: 17px;
    cursor: pointer;
    width: 33%;
    text-align: center;
    height: 30px;
    -webkit-app-region: no-drag;
}